---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main
    style="font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif; "
  >
    <h1>Thank you all very much for participating in my first project!</h1>
    <h2>Welcome to Qaztup.com</h2>
    <p>Published on 2015. <b>It's my first website ever!</b></p>
    <p>
      When I was 13 years old, I came up with the idea of creating my first
      website.
    </p>
    <p>
      But back in the day I couldn't keep my first domain web and I lost it. And
      after eight years, I finally got it back!
    </p>
    <p>
      It was a long journey! And know I have a lot of things to do. It's time to move on.
    </p>
    <p>- Marcelo Arias</p>
    <h2>Background</h2>
    <p>Qaztup was a social network created in the winter of 2015.</p>
    <p>It had multiple domains.</p>
    <p>At its peak, it had 100+ users.</p>
    <p>It never grew beyond that, and it was shut down multiple times.</p>
    <p>The last time it was shut down was in 2018.</p>
    <h2>Future</h2>
    <p>
      I realised that I love to create things, and I want to create more things.
    </p>
    <p>Some of my current projects are growing, and I'm happy about it.</p>
    <p>You can find me in almost every social network as @360macky.</p>
  </main>
</Layout>

<style>
  /* In dark mode the background should be black, and letters white */
  main {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background: black;
      color: white;
    }
  }
  a {
    color: #0070f3;
  }
</style>
